* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
